<h1>Sign Up</h1>
<h3>Get in touch with like-minded people; Create, Study, and accomplish goals together!</h3>
<%= form_for(
  resource,
  as: resource_name,
  url: registration_path(resource_name)
) do |f| %>
  <div class="signup-container grid">
    <div class="name">
      <%= f.label :name %>
      <%= f.text_field :name, 
        autofocus: true,
        placeholder: 'username',
        class: 'form-field' %>
      <small class="text-muted">Will be public</small>
    </div>
    <div class="email">
      <%= f.label :email %>
      <%= f.email_field :email,
        placeholder: 'email',
        autocomplete: 'email',
        class: 'form-field' %>
    </div>
    <div class="password">
      <%= f.label :password %>
      <%= f.password_field :password,
        autocomplete: "off", 
        placeholder: 'password', 
        class: 'form-field' %>
    </div>
    <div class="password-conf">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, 
        autocomplete: "off", 
        placeholder: 'password confirmation', 
        class: 'form-field' %>
    </div>
    <div class="button-box">
      <%= f.submit "Sign up", 
        class: 'button button-block login-button' %>
      <small class='text-muted'>It's free!</small>
    </div>

  </div>
<% end %>

