<%= form_for(resource,
  as: resource_name, 
  url: session_path(resource_name)) do |f| %>

  <div class="grid-container">
    <div class="login">
      <%= f.label "Email:" %>
      <%= f.email_field :email, 
        autofocus: true,
        placeholder: "email",
        class: "form-control" %>
      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      <% end -%>
    </div>

    <div class="password">

      <%= f.label "Password:" %>
      <%= f.password_field :password, 
        autocomplete: "off",
        class: 'form-control',
        placeholder: 'password' %>


    </div>
    <%= f.submit "Log in", class: 'form-control login-button' %>
    <div class="signup-link">
      <%= link_to 'Sign Up', '#'  %>
    </div>
    <div class="forgot-link">
      <%= link_to 'Forgot Password?', '#' %>
    </div>
  </div>
<% end %>
